
body {
    color: purple;
    background-color: #d8da3d;
    font-family: Georgia, "Times New Roman",
          Times, serif;
}
H1 {
  font-size: 36pt;
  font-family: serif;
}
H2 { font-weight: bold }
p.red {color: red; }
H3 { font-weight: bold }